*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #5585ec86;

    color: white;
}

nav{
    height: 60px;
    background-color: rgb(155, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100vh;
}
p{
    padding: 1rem;
}
h1{
    margin: 2rem;
    text-align: center;
}

input{
    width: 0px;
    border: none;
    outline: none;
}

.fas{
    color: #111;
    font-size: 1.5rem;
    padding: 10px 5px;

}

.fas:hover{
    cursor: pointer;
    color: #333;

}

input.active-search{
    width: 80px;
    border-radius: 12px;
    border: 1px solid gray;
    padding: 10px 5px;
    transition: .3s width ease-in;
    font-size: 16px;
    box-sizing: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);

}

input.active-search:hover{
    width: 150px;
    transition: .3s width ease-in;

}

input.active-search:focus{
    width: 300px;
    transition: .3s width ease-in;

}
